body
{
    margin: 0px;
    background-color: #1b1b1b;
    color: white;
}

/* header */

img.title
{
    width: 26.042vw;
    
}
div.wide-card:hover, div.card:hover
{
    box-shadow: 0vw -0.2604vw 0 -0.1563vw #1b1b1b,  0vw -0.2604vw #333333C0,
                0vw -0.5208vw 0 -0.1563vw #1b1b1b,  0vw -0.5208vw #33333380,
                0vw -0.7813vw 0 -0.1563vw #1b1b1b,  0vw -0.7813vw #33333340,
                0vw  0.2604vw 0 -0.1563vw #1b1b1b,  0vw  0.2604vw #333333C0,
                0vw  0.5208vw 0 -0.1563vw #1b1b1b,  0vw  0.5208vw #33333380,
                0vw  0.7813vw 0 -0.1563vw #1b1b1b,  0vw  0.7813vw #33333340;
    -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
    -o-transition:      all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;  
    -ms-transition:     all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s; 
    -moz-transition:    all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s; 
    transition:         all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s; 
}
div.wide-card, div.card
{
    box-shadow: 0vw 0vw 0 -0.1563vw #1b1b1b,  0vw 0vw #333333C0,
                0vw 0vw 0 -0.1563vw #1b1b1b,  0vw 0vw #33333380,
                0vw 0vw 0 -0.1563vw #1b1b1b,  0vw 0vw #33333340,
                0vw 0vw 0 -0.1563vw #1b1b1b,  0vw 0vw #333333C0,
                0vw 0vw 0 -0.1563vw #1b1b1b,  0vw 0vw #33333380,
                0vw 0vw 0 -0.1563vw #1b1b1b,  0vw 0vw #33333340;
    -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
    -o-transition:      all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;  
    -ms-transition:     all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s; 
    -moz-transition:    all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s; 
    transition:         all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s; 
}

img.logo
{
    width: 15.728vw;
}
img.top-bar-icon
{
    width: 2.6042vw;
}
h1.top-bar-text
{
    margin: 0px;
    padding-left: 0.5208vw;
    padding-right: 0.5208vw;
    font-size: 1.875vw;
}
h1.footer-column-header
{
    padding-left: 0.5208vw;
    padding-right: 0.5208vw;
    font-size: 1.875vw;
}
h2.footer-column-text
{
    margin: 1.0416vw;
    font-size: 1.25vw;
}
a.top-bar
{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}
a
{
    transform: scale(1.0, 1.0);
    filter: drop-shadow(0px 1vw 1vw #00000000);
    -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 1, 1) 0s;
    -o-transition:      all 0.2s cubic-bezier(0.4, 0, 1, 1) 0s;  
    -ms-transition:     all 0.2s cubic-bezier(0.4, 0, 1, 1) 0s; 
    -moz-transition:    all 0.2s cubic-bezier(0.4, 0, 1, 1) 0s; 
    transition:         all 0.2s cubic-bezier(0.4, 0, 1, 1) 0s;
}
a:hover
{
    transform: scale(1.1, 1.1);
    filter: drop-shadow(0px 1vw 1vw #1b1b1bff);
    -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 1, 1) 0s;
    -o-transition:      all 0.2s cubic-bezier(0.4, 0, 1, 1) 0s;  
    -ms-transition:     all 0.2s cubic-bezier(0.4, 0, 1, 1) 0s; 
    -moz-transition:    all 0.2s cubic-bezier(0.4, 0, 1, 1) 0s; 
    transition:         all 0.2s cubic-bezier(0.4, 0, 1, 1) 0s;
}
a.login-panel
{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 0.5208vw;
}

div.header-block-left, div.footer-column-left
{
    padding-left: 12.5vw;
}
div.header-block-right, div.footer-column-right
{
    padding-right: 12.5vw;
}

div.header
{
    display: flex;
    justify-content: center;
    width: 100vw;
}
div.header-block-left
{
    display: flex;
    background-color: #333333;
    width: 26.0417vw;
    height: 13.0208vw;
    padding-right: 3.5938vw;
    align-items: center;
}
div.header-block-center
{
    width: 15.728vw;
}
div.header-block-right
{
    background-color: #333333;
    display:flex;
    align-items: center;
    width: 28.0729vw;
    height: 13.0208vw;
    padding-left: 1.5625vw;
}
div.top-bar-text
{
    float: left;
}
div.top-bar
{
    width: 14.0364vw;
}
div.top-bar-img
{
    height: 3.3854vw;
    width: 3.125vw;
    padding: 0.2604vw;
}
div.login-panel
{
    height: 13.0208vw;
    width: 14.0364vw;
}

/* content */

div.content
{
    width: 75vw;
    margin-top: 2.0833vw;
    margin-left: 12.5vw;
    margin-right: 12.5vw;
}
div.wide-card
{
    width: 75vw;
    display: flex;
    background-color: #333333;
    margin-top: 1.5625vw;
    margin-bottom: 1.5625vw;
}
div.wide-card-img
{
    padding: 1.3291vw;
}
div.wide-card-text
{
    text-align: center;
    padding: 1.3021vw;
}
div.goty-img
{
    padding: 0.7813vw;
    filter: drop-shadow(0px 0px 0.5vw #00000000);
    -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
    -o-transition:      all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;  
    -ms-transition:     all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s; 
    -moz-transition:    all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s; 
    transition:         all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s; 
}
div.goty-img:hover
{
    filter: drop-shadow(0px 0px 0.5vw #A68F33ff);
    -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
    -o-transition:      all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;  
    -ms-transition:     all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s; 
    -moz-transition:    all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s; 
    transition:         all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s; 
}
div.cards
{
    width: 75vw;
    margin-bottom: 1.5625vw;
    margin-top: 1.5625vw;
}
div.cards-row
{
    display: flex;
    justify-content: space-between;
    margin-top: 2.0833vw;
    margin-bottom: 2.0833vw;
    height: 41.6667vw;
}
div.card
{
    width: 36.4583vw;
    background-color: #333333;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* footer */

div.footer
{
    width: 100vw;
    height: 20.8333vw;
    display: flex;
    background-color: #333333;
}
div.footer-column-left
{
    width: 24.4792vw;
    text-align: left;
}
div.footer-column-right
{
    width: 24.4792vw;
    text-align: right;
}
div.footer-center
{
    float: left;
    width: 26.0416vw;
    text-align: center;
}
div.footer-logo
{
    height: 15.625vw;
}

div.icons-bar
{
    display: flex;
}
div.rickroll-icon
{
    margin-left: auto;
    padding: 0.2604vw;
    width: 3.125vw;
}
div.icon
{
    padding: 0.2604vw;
    width: 3.125vw;
}
div.icon:hover, div.rickroll-icon:hover
{
    transform: scale(1.5, 1.5);
    filter: drop-shadow(0px 0px 1vw #1b1b1bff);
    -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 1, 1) 0s;
    -o-transition:      all 0.2s cubic-bezier(0.4, 0, 1, 1) 0s;  
    -ms-transition:     all 0.2s cubic-bezier(0.4, 0, 1, 1) 0s; 
    -moz-transition:    all 0.2s cubic-bezier(0.4, 0, 1, 1) 0s; 
    transition:         all 0.2s cubic-bezier(0.4, 0, 1, 1) 0s;
}
div.icon, div.rickroll-icon
{
    transform: scale(1.0, 1.0);
    filter: drop-shadow(0px 0px 1vw #00000000);
    -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 1, 1) 0s;
    -o-transition:      all 0.2s cubic-bezier(0.4, 0, 1, 1) 0s;  
    -ms-transition:     all 0.2s cubic-bezier(0.4, 0, 1, 1) 0s; 
    -moz-transition:    all 0.2s cubic-bezier(0.4, 0, 1, 1) 0s; 
    transition:         all 0.2s cubic-bezier(0.4, 0, 1, 1) 0s;
}

div.news
{
    width: 26.0417vw;
    margin-top: 1.5625vw;;
    overflow: auto;
    text-align: center;
}
div.news-small-text
{
    float: left;
}
div.news-button
{
    float: right;
}

div.employee
{
    width: 100%;
}
div.employee-img
{
    padding: 1.3291vw;
    height: 14.0625vw;
}
div.name
{
    display: inline-block;
    text-align: center;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
div.employee-text
{
    padding: 1.25vw;
    font-size: 1.25vw;
    text-align: justify;
}

div.item-text
{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    height: 15%;
    min-height: 15%;
}
div.item-name
{
    width: 30%;
    font-size: 1.25vw;
}
div.item-description
{
    width: 60%;
    text-align: justify;
    font-size: 0.9375vw;
}
div.buy-button
{
    height: 10%;
    padding-bottom: 1.3291vw;
    min-height: 10%;
}
button.buy
{
    margin: 0;
    height: 100%;
}

button
{
    background-color: #00B11C;
    border-color: #02C721;
    border-radius: 0.5208vw;
    margin: 1.3021vw;
    transform: scale(1.0, 1.0);
    filter: drop-shadow(0px 1vw 1vw #00000000);
    -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 1, 1) 0s;
    -o-transition:      all 0.2s cubic-bezier(0.4, 0, 1, 1) 0s;  
    -ms-transition:     all 0.2s cubic-bezier(0.4, 0, 1, 1) 0s; 
    -moz-transition:    all 0.2s cubic-bezier(0.4, 0, 1, 1) 0s; 
    transition:         all 0.2s cubic-bezier(0.4, 0, 1, 1) 0s; 
}

button:hover
{
    transform: scale(1.1, 1.1);
    filter: drop-shadow(0px 1vw 1vw #1b1b1bff);
    -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 1, 1) 0s;
    -o-transition:      all 0.2s cubic-bezier(0.4, 0, 1, 1) 0s;  
    -ms-transition:     all 0.2s cubic-bezier(0.4, 0, 1, 1) 0s; 
    -moz-transition:    all 0.2s cubic-bezier(0.4, 0, 1, 1) 0s; 
    transition:         all 0.2s cubic-bezier(0.4, 0, 1, 1) 0s; 
}

h1.button-text
{
    font-size: 1.25vw;
    color: white;
    padding-left: 1.25vw;
    padding-right: 1.25vw;
}
h1.news
{
    color: #333333;
    padding: 1.3021vw;
    font-size: 1.875vw;
    background-color: #DFDFDF;
}
h2.top-bar-text
{
    color: white;
}
a
{
    text-decoration: none;
    color: white;
}